<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/giant_main_file.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">

    <title>Elite Explorer: Elite Dangergous</title>
    <link rel="shortcut icon" href="{% static 'images/icon2.ico' %}" type="image/x-icon">
</head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}


    {% block content %}
    
    {% endblock content %}




    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}



    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/loading_bodies.js' %}"></script>
    <script src="{% static 'js/navbar_dropdown.js' %}"></script>


    
</body>
</html>