{% extends 'base.html' %}




{% block content %}


    <main>
        <div class="welcome_sign">
            <h1>Welcome to Elite Explorer: Calculate Your Explored Systems and Estimate Closely Accurate Payouts</h1>
            <small>These numbers are based off the froniter forums data which can be found <a href="https://forums.frontier.co.uk/threads/exploration-value-formulae.232000/" target="_blank">here</a> for more info.</small>
        </div>



        <div class="calculation_are">
            <h2>Select the Celestial Bodies You've Encountered in the System:</h2>
            <small>Not providing a number/leaving blank will be counted as 0</small>

            {% include 'index_stuff/celestial_inputs2.html' %}

            <div class="enterbutton">
                <button type="submit" onclick="more_details()">Enter</button>
            </div>
        </div>
    </main>


    
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

    
{% endblock content %}