main .welcome_sign {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}
main .welcome_sign h1 {
  font-family: sans-serif;
  font-size: 17px;
  cursor: default;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
main .welcome_sign small {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: math;
}
main .welcome_sign small a {
  color: #08FADC;
}
main .calculation_are {
  border-top: 1px solid white;
  width: 95%;
  margin: auto;
  margin-top: 35px;
}
main .calculation_are h2 {
  color: white;
  font-family: math;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 36px;
}
main .calculation_are small {
  font-family: math;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: #08FADC;
}
main .calculation_are form {
  margin-top: 25px;
}
main .calculation_are form .input_type1 {
  display: flex;
  flex-direction: column;
  width: 75%;
}
main .calculation_are form .input_type1 .labels {
  color: white;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 600;
}
main .calculation_are form .input_type1 .input_area {
  width: 100%;
}
main .calculation_are form .input_type1 .input_area input {
  padding: 15px;
  border: none;
  background-color: #333;
  border-radius: 12px;
  margin-bottom: 16px;
  color: white;
  width: 55%;
}
main .calculation_are form .input_type1 .input_area input:focus {
  outline: none;
  border-bottom: 1px solid #08FADC;
}

.enterbutton {
  width: 70%;
  margin: auto;
  margin-top: 25px;
}
.enterbutton button {
  width: 100%;
  padding: 12px;
  font-size: 45px;
  font-family: fantasy;
  background-color: #9b9b9b;
  color: #000000;
  letter-spacing: 5px;
  border: none;
  border-radius: 19px;
  cursor: pointer;
}
.enterbutton button:hover {
  background-color: #bababa;
}

.more_details_explorer {
  background-color: black;
  width: 95%;
}
.more_details_explorer h1 {
  color: white;
  font-family: system-ui;
}

.inputs1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  background-color: #222222;
  padding: 10px;
  align-items: stretch;
  gap: 10px;
}
.inputs1 .main_body {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}
.inputs1 .main_body p {
  color: #ffffff;
  font-size: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: default;
  font-family: math;
  font-weight: 600;
  margin-top: 10;
}
.inputs1 .main_body .image_holder {
  position: relative;
}
.inputs1 .main_body .image_holder img {
  width: 100%;
}
.inputs1 .main_body .image_holder .number_of_bodies {
  position: absolute;
  top: 18px;
  left: 93%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
  height: 30px;
  width: 30px;
  cursor: default;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: "FontAwesome";
  align-items: anchor-center;
  border-radius: 50%;
}
.inputs1 .main_body .buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
}
.inputs1 .main_body .buttons button {
  font-size: 50px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.inputs1 .main_body .buttons button:hover {
  color: #197469;
}
.inputs1 .main_body .buttons button:hover + .main_body {
  border: 1px solid #08FADC;
}

/* Hide the default checkbox appearance */
.checkbox-button {
  display: none;
}

/* Style the label to look like a button */
.button-label {
  display: inline-block;
  padding: 10px 8px;
  margin: 5px;
  background-color: #25af9f;
  color: black;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 17px;
  font-weight: bold;
  font-family: math;
}

#checked {
  background-color: #197469;
  cursor: default;
}

/* Change the background color when checked */
.checkbox-button:checked + .button-label {
  background-color: #197469;
}

/* Optional: Change the label when the checkbox is hovered */
.button-label:hover {
  background-color: #197469;
}/*# sourceMappingURL=main.css.map */