<div class="inputs">
    <form id="celestial_inputs_formID">

        {% csrf_token %}

        <div class="input_type1">
            <label for="earthLikeWorlds" class="labels">Earth Like Worlds:</label>
            <div class="input_area">
                <input type="text" id="earthLikeWorlds" name="earthLikeWorlds" placeholder="Number of bodies found: eg 2" >
                    <!-- Button 1 -->
                    <input type="checkbox" id="earthLikeWorlds-check" class="checkbox-button" value="">
                    <label for="earthLikeWorlds-check" class="button-label">DSS</label>

                    <!-- Button 2 -->
                    <input type="checkbox" id="button2" class="checkbox-button">
                    <label for="button2" class="button-label" id="checked">Terraformable</label>

                    <!-- Button 3 -->
                    <input type="checkbox" id="button3" class="checkbox-button">
                    <label for="button3" class="button-label">FM</label>

                    <!-- Button 3 -->
                    <input type="checkbox" id="button4" class="checkbox-button">
                    <label for="button4" class="button-label">FD</label>

                    <!-- Button 3 -->
                    <input type="checkbox" id="button5" class="checkbox-button">
                    <label for="button5" class="button-label">MEB</label>

                    <!-- Button 3 -->
                    <input type="checkbox" id="button6" class="checkbox-button">
                    <label for="button6" class="button-label">All</label>


            </div>
        </div>


        <div class="input_type1">
            <label for="AmmoniaWorlds" class="labels">Ammonia Worlds:</label>
            <div class="input_area">
                <input type="text" id="AmmoniaWorlds" name="AmmoniaWorlds" placeholder="Number of bodies found: eg 2" >

                <!-- Button 7 -->
                <input type="checkbox" id="bttn7" class="checkbox-button" value="">
                <label for="bttn7" class="button-label">DSS</label>

                <!-- Button 8 -->
                <input type="checkbox" id="bttn8" class="checkbox-button">
                <label for="bttn8" class="button-label">Terraformable</label>

                <!-- Button 9 -->
                <input type="checkbox" id="bttn9" class="checkbox-button">
                <label for="bttn9" class="button-label">FM</label>

                <!-- Button 10 -->
                <input type="checkbox" id="bttn10" class="checkbox-button">
                <label for="bttn10" class="button-label">FD</label>

                <!-- Button 11 -->
                <input type="checkbox" id="bttn11" class="checkbox-button">
                <label for="bttn11" class="button-label">MEB</label>

                <!-- Button 12 -->
                <input type="checkbox" id="bttn12" class="checkbox-button">
                <label for="bttn12" class="button-label">All</label>

            </div>
        </div>



        <div class="input_type1">
            <label for="waterworlds" class="labels">Water Worlds:</label>
            <div class="input_area">
                <input type="text" id="waterworlds" name="waterworlds" placeholder="Number of bodies found: eg 2" >

                <!-- Button 13 -->
                <input type="checkbox" id="bttn13" class="checkbox-button" value="">
                <label for="bttn13" class="button-label">DSS</label>

                <!-- Button 14 -->
                <input type="checkbox" id="bttn14" class="checkbox-button">
                <label for="bttn14" class="button-label">Terraformable</label>

                <!-- Button 15 -->
                <input type="checkbox" id="bttn15" class="checkbox-button">
                <label for="bttn15" class="button-label">FM</label>

                <!-- Button 16 -->
                <input type="checkbox" id="bttn16" class="checkbox-button">
                <label for="bttn16" class="button-label">FD</label>

                <!-- Button 17 -->
                <input type="checkbox" id="bttn17" class="checkbox-button">
                <label for="bttn17" class="button-label">MEB</label>

                <!-- Button 18 -->
                <input type="checkbox" id="bttn18" class="checkbox-button">
                <label for="bttn18" class="button-label">All</label>

            </div>
        </div>



        <button type="submit">Calculate Payout!</button>
    </form>
</div>