<div class="inputs">
    <form id="celestial_inputs_formID">

        {% csrf_token %}

        <div class="input_type1">
            <label for="earthLikeWorlds" class="labels">Earth Like Worlds:</label>
            <div class="input_area">
                <input type="text" id="earthLikeWorlds" name="earthLikeWorlds" placeholder="Number of bodies found: eg 2" >
                    <!-- Button 1 -->
                    <input type="checkbox" id="earthLikeWorlds-check" class="checkbox-button" value="">
                    <label for="earthLikeWorlds-check" class="button-label">DSS</label>

                    <!-- Button 2 -->
                    <input type="checkbox" id="button2" class="checkbox-button">
                    <label for="button2" class="button-label" id="checked">Terraformable</label>

                    <!-- Button 3 -->
                    <input type="checkbox" id="button3" class="checkbox-button">
                    <label for="button3" class="button-label">FM</label>

                    <!-- Button 3 -->
                    <input type="checkbox" id="button4" class="checkbox-button">
                    <label for="button4" class="button-label">FD</label>

                    <!-- Button 3 -->
                    <input type="checkbox" id="button5" class="checkbox-button">
                    <label for="button5" class="button-label">MEB</label>

                    <!-- Button 3 -->
                    <input type="checkbox" id="button6" class="checkbox-button">
                    <label for="button6" class="button-label">All</label>


            </div>
        </div>


        <div class="input_type1">
            <label for="AmmoniaWorlds" class="labels">Ammonia Worlds:</label>
            <div class="input_area">
                <input type="text" id="AmmoniaWorlds" name="AmmoniaWorlds" placeholder="Number of bodies found: eg 2" >

            </div>
        </div>



        <button type="submit">Calculate Payout!</button>
    </form>
</div>